morning bang bang/Assets/content/commuter_basement_I/entities/bastard/art/bastard_walk.png~
morning bang bang/Assets/content/commuter_basement_I/entities/bastard/art/bastard_walk.png~
morning bang bang/Assets/content/commuter_basement_I/entities/bastard/art/sources/bastard_imp.kra
leditor/leditor/obj
leditor/leditor/bin
leditor/.idea